.titoloDebrisLine{
    margin-top: 12vh;

    z-index: 100;
    width:100%;
    color: white;

}

.box{

  z-index: 100;

  color: white;
  width:100%;



/*  background-color: rgba(40, 204, 174, .4); */
}

#oggetto1{ height: 230px;
  width:100%;
  position: relative;

  margin-top: 14vh;
  margin-bottom: -10vh;
  opacity: .9;
  text-align: center;
}


#oggetto2{ height: 230px;
  width:100%;
  position: relative;

  margin-top: 10vh;
  margin-bottom: -6vh;
  opacity: .9;
  text-align: center;
}



#oggetto3{ height: 230px;
  width:100%;
  position: relative;

  margin-top: 4vh;
  margin-bottom: -0vh;
    opacity: .9;
    text-align: center;
}



#debrisText{
transform: scale(-1, 1);
position: absolute;
top: -60px;

width:49%;
margin-left:26.5%;
}

#debrisText h6{
  font-family: "GT America Compressed Ultra";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 8vh;

}


#debrisText h4{
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 3.5rem;
  text-align: center;
}

#debrisText hr{
margin-bottom: 0rem;
}

#debrisText h5{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "IBM Plex Mono";
  font-size: 1.6rem;
  margin-top: .3rem;
  text-align:justify;
  text-align-last: justify;
}

#debrisText ul{
      list-style-type: none;
  font-family: "IBM Plex Mono";
  font-size: 1.2rem;
  spacing: .8rem;
  text-align: center;
}

#debrisText li{
      list-style-type: none;
      font-family: "IBM Plex Mono";
  text-transform: none;
}
